.nav__cardhome {
    background-image: url("https://images.unsplash.com/photo-1554302891-c98c2d1e0d3a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=928&q=80");
    width: 100%;
    height: 100%vh;
    overflow-x: hidden;
}

.principal-home {
    width: 100%;
    height: 660px;
    background-size: cover;
}

.img {
    width: 300px;
    height: 300px;
    border-radius: 160px;
    margin-top: 150px;
    margin-left: 250px;
    float: left;
}

@media (max-width: 858px) {
    .nav__cardhome {
        background-image: url("https://images.unsplash.com/photo-1554302891-c98c2d1e0d3a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=928&q=80");
        width: 20rem;
        height: 100%vh;
        color: white;
    }
    .h1 {
        margin: auto;
        padding: auto;
        width: 16rem;
        height: 6rem;
    }
    .img {
        width: 110px;
        height: 110px;
        border-radius: 150px;
        margin-top: 120px;
        margin-left: 30px;
        float: left;
    }
    .principal-home {
        height: 400px;
        background-size: cover;
    }
}