.contact-component {
    width: 100%;
    height: 580px;
}

.formControl {
    width: 500px;
    height: 400px;
    float: left;
    margin-left: 60px;
}

.h1-form {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

.email-campo {
    width: 400px;
    height: 30px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    margin: 10px;
    display: block;
}

.message-campo {
    display: block;
    width: 400px;
    height: 130px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    margin: 10px;
}

.title-form {
    text-align: left;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 10px;
}

.boton-form {
    width: 400px;
    height: 40px;
    text-align: center;
    border: none;
    border-radius: 5px;
    margin: 10px;
    background-color: purple;
    color: white;
    font-family: cursive;
    font-size: large;
}

.boton-form:hover {
    color: black;
    background-color: white;
    transition-duration: .5s;
}

.email-text,
.message-text {
    margin-left: 10px;
}

.contact {
    float: right;
    width: 500px;
    height: 400px;
    margin-right: 60px;
}

.img-ico-contact {
    width: 40px;
    margin-right: 20px;
    margin-top: 15px;
}

.h3-contact {
    margin-top: 20px;
    margin-bottom: 25px;
}

.h3-contact-2 {
    margin-top: 90px;
}

.p-contact {
    margin-top: 10px;
}

@media (max-width: 480px) {
    .contact-component {
        width: 100%;
        height: 900px;
    }
    .formControl {
        width: 250px;
        height: 300px;
        display: block;
        margin: 65px;
        float: right;
    }
    .email-campo {
        width: 180px;
        height: 20px;
        text-decoration: none;
        border: none;
        border-radius: 5px;
        margin: 10px;
        display: block;
    }
    .message-campo {
        display: block;
        width: 180px;
        height: 80px;
        text-decoration: none;
        border: none;
        border-radius: 5px;
        margin: 10px;
    }
    .boton-form {
        width: 100px;
        height: 20px;
        text-align: center;
        border: none;
        border-radius: 5px;
        margin: 10px;
        background-color: purple;
        color: white;
        font-family: cursive;
        font-size: large;
    }
    .contact {
        width: 250px;
        height: 300px;
        margin-right: 60px;
    }
    .img-ico-contact {
        width: 20px;
        margin-right: 10px;
        margin-top: 10px;
    }
    .h3-contact {
        margin-top: 20px;
        margin-bottom: 25px;
    }
    .h3-contact-2 {
        margin-top: 50px;
    }
    .p-contact {
        margin-top: 10px;
    }
    .h1-form {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .title-form {
        text-align: left;
        margin-top: 20px;
        margin-bottom: 10px;
        margin-left: 10px;
    }
}