.about-component {
    width: 100%;
    height: 660px;
    text-align: center;
}

.text {
    margin-top: 30px;
    margin-bottom: 30px;
}

.card {
    width: 11%;
    height: 160px;
    float: left;
    margin: 10px
}

.img-ico {
    width: 100px;
}

.icono {
    font-size: 120px;
}

@media (max-width: 858px) {
    .img-ico {
        width: 60px;
    }
    .card {
        width: 18%;
        height: 100px;
        float: left;
        margin: 10px
    }
}