.p {
    font-size: 2rem;
    border-right: .15em solid white;
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 4s alternate infinite steps(18), blink 1s steps(1) infinite;
    margin-top: 200px;
    margin-left: 20px;
    float: left;
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 20%;
    }
}

@media (max-width: 858px) {
    .p {
        font-size: 1rem;
        border-right: .15em solid white;
        width: 0;
        overflow: hidden;
        white-space: nowrap;
        animation: typing 4s alternate infinite steps(18), blink 1s steps(1) infinite;
        margin-top: 150px;
        margin-left: 12px;
        margin-right: 50px;
        display: inline-block;
    }
    @keyframes blink {
        50% {
            border-color: transparent;
        }
    }
    @keyframes typing {
        from {
            width: 0;
        }
        to {
            width: 40%;
        }
    }
}